*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    position: relative;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    
    height: 169px;
    left: 0%;
    right: 0%;
    top: 0px;
    font-family: Righteous; 
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    text-align: center;

    color: #55CCD4;
}

.heading {
    position: absolute;
    height: 84px;
    left: 13.54%;
    right: 13.68%;
    top: 39px;
}


.poly {
    position: absolute;
    left: 74.17%;
    right: 22.01%;
    top: 43px;
}


main {
    display: flex;
    padding-left: 30% ;
    padding-right: 30%;
    flex-direction: column;
    align-items: center ;
}

.row { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 61px;
    
    position: static;
    width: 1226px;
    height: 211px;
    left: 107px;
    top: 218.5px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}


.card {
    position: relative;
    width: 153px;
    height: 155px;

    flex: none;
    flex-grow: 0;
    margin: 46.5px 25px;
    overflow: hidden;
}

.frame{
    position: absolute;
    width: 155px;
    height: 155px;
    top: 0px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 65.16%);
    border-radius: 15px;
    overflow: hidden;
}

.time {
    position: absolute;
    left: 3.23%;
    right: 2.43%;
    top: 3.23%;
    bottom: 82.07%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    position: absolute;
    left: 7.1%;
    right: 7.74%;
    top: 67.74%;
    bottom: 3.87%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.pic {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 0px;
    
    background: fill;
    border-radius: 15px;
    overflow: hidden;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
}

.charts{
    width: 100%;
}

.path{
    width: 100%;
}

h3 {
    text-align: j;
}

p,h3,li {
    padding: 5px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    font-style: normal;
}

p{
    padding-bottom: 45px;
    text-align: center;
    text-indent: 5%;
}



.copyright {
    position: absolute;
    height: 76px;
    left: 498px;
    right: 404px;
    bottom: -25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}
